@{
    ViewData["Title"] = "O aplikaci";
}

<section class="text-center">
    <header>
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr />
    </header>
        <p>
            Webová aplikace byla vytvořena v prostředí Visual Studia pomocí .NET Framework. 
        </p>
        <p>
            Tato webová aplikace umožňuje uživatelům přistupovat k různým funkcím a informacím prostřednictvím webového rozhraní.
        </p>
        <p>
            Pro vývoj této aplikace jsem použili řadu technologií, jako například C#, HTML, CSS, Bootstrap, JavaScript, ASP.NET a další.
        </p>
        <p>
            Aplikace využívá architekturu Model-View-Controller (MVC),<br />
            což umožňuje oddělení prezentace (View) od logiky (Model) a řízení (Controller).
        </p>
        <p>
        Pro uložení dat používám databázi SQL Server, která umožňuje efektivní a spolehlivé ukládání a správu dat.
        </p>
</section>