@model PojistovnaApp.Models.PojistnaUdalost

@{
    ViewData["Title"] = "Přidat pojistnou událost";
}
<h1 class="text-primary">@ViewData["Title"]</h1>

<hr />
<section class="row">
    <div class="col-md-4">
        <form asp-controller="PojistnaUdalost" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="PojisteniId" value="@ViewBag.PojisteniId" /> <!-- Předání ID Pojištění do formuláře pro vytvoření nového pojistné události-->
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popis" class="control-label"></label>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CastkaPoskozeni" class="control-label"></label>
                <input asp-for="CastkaPoskozeni" class="form-control" />
                <span asp-validation-for="CastkaPoskozeni" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 text-center mt-3">
                <a asp-controller="Pojisteni" asp-action="Details" asp-route-id="@ViewBag.PojisteniId"
                   class="btn btn-outline-secondary rounded-3">Zpět</a>
                <input type="submit" value="Přidat" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
